<% @page_name = 'Categories' %>
<p style="color: green"><%= notice %></p>

<div class='categories'>  
  <% if @categories.empty? %>
      <p>no categories</p>      
    <% end %>
  <% @categories.each do |category| %>
    
    <div class='card'> 
      <div class='category-details'>
        <img src="<%= category.icon %>" alt='category-icon' />
        <%=link_to category.name, category_transactions_path(category.id), class:'name' %>
      </div>       
      
      <p>$<%= Transaction.where(category_id: category.id).sum(:amount) %> </p>
     
    </div>
    
  <% end %>
</div>

<%= link_to "New category", new_category_path, class: 'btn' %>
