
<%= form_with model: @category do |f| %> 
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name, autocomplete: 'name', autofocus: true %>
     <% @category.errors.full_messages_for(:name).each do |message| %>
      <div class='error-message'><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= f.label :icon %><br>
    <%= f.text_field :icon, autocomplete: 'icon', autofocus: true %>
     <% @category.errors.full_messages_for(:icon).each do |message| %>
      <div class='error-message'><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= f.submit %>
  </div>
<% end %>

